header{
	background-color: #e3b7c8;
	height: 50px;
	width:100%;
	color:green;
}
nav{
	background-color: gray;
	width:85%;
	height: 70px;
}
#left{
	background-color: red;
	width:20%;
	height:250px;
	float: left;
}
main{
	background-color: blue;
	width:60%;
	height:250px;
	float:left;
}
#right{
	background-color: green;
	width:20%;
	height:250px;
	float: right;
}
footer{
	clear: both;
}